<!-- Footer starter -->
<footer>
<div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
    <div class="navbar-text pull-left">
    </div>
    <div class= "navbar-text pull-right">
<!-- Add in your social media / github links here -->
        <a href="https://github.com/clarkdatalabs">
            <i class="fa fa-github-square fa-2x"></i></a>
    </div>
    <!--Copyright information-->
    <div class="navbar-text pull-left">
    &copy; Sebastian Ougter Olsen, 2019
    </div>
</div>
</footer>




<div role="banner" class="col p-3 bottom" style=" background-color:#012a50">
</div>


</footer>